@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* -- header -- */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}

.icon {
  color: #222;
  font-size: 21px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#cart-icon:hover {
  cursor: pointer;
}
#cart-counter {
  position: absolute;
  top: -10%;
  right: 20%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 13px;
  padding-top: 2px;
  padding-left: 1px;
}

#mobile {
  display: none;
  align-items: center;
  position: relative;
}

#close {
  display: none;
}

/* --- cart --- */
#cart-section {
  position: fixed;
  top: 0;
  /* right: 0; */
  right: -100%;
  width: 25%;
  height: 100vh;
  background-color: #f8f9ff;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: 1.5s;
  z-index: 999;
}

#cart-section.show {
  right: 0;
  transition: 0.5s;
}

#cart-section h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2rem;
  color: #065c66;
}

.cart-box img {
  width: 100%;
  height: 80%;
}
.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

#product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

#product-price {
  color: #065c66;
}

#remove {
  cursor: pointer;
  color: #065c66;
  font-size: 1.2rem;
  transition: 0.3s ease;
}

#remove:hover {
  color: #088178;
}

#product-quantity {
  border: #606063 solid 1px;
  width: 2.4rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 4px;
}

#product-name {
  font-size: 17px;
}

#amount {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  border-top: 1px solid #606063;
}

#total {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: 600;
}

#total-amount {
  margin-left: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 3px;
}

#checkout {
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #065c66;
  color: #fff;
  font-size: 1rem;
  border-radius: 3px;
  cursor: pointer;
}

#checkout:hover {
  background-color: #088178;
}
/* --- hero --- */
#hero {
  background-image: url("img/hero4.png");
  background-image: 100%;
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h4 {
  padding-bottom: 15px;
}

#hero h1 {
  color: #088178;
}

#hero button {
  background-image: url("img/button.png");
  background-color: transparent;
  color: #088178;
  cursor: text;
  border: none;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 15px;
}

#close-cart {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 1.4rem;
}
/* --- slider --- */
#slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f6f6f6;
}

#slider h1 {
  margin: 10px;
  text-align: center;
}

.overlay {
  position: relative;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}

.prev {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 40px;
  color: #222;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 40px;
  color: #222;
  cursor: pointer;
  margin-right: 10px;
  opacity: 0.8;
  transition: opacity 0.5s ease-in-out;
}

.overlay-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  gap: 20px;
}

.next:hover,
.prev:hover {
  opacity: 1;
  color: #fff;
}
/* --- product --- */
#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  height: 200px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

#product1 .pro .cart:hover {
  background-color: #088178;
  color: #fff;
}

/* --- filter buttons --- */

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.filter-btn {
  padding: 12px 24px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease, transform 0.2s ease;
  background-color: #065c66;
  color: #fff;
}

.filter-btn:hover {
  transform: scale(1.1);
}

/* --- newletter */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

#newsletter p span {
  color: #ffbd27;
}

#newsletter .form {
  display: flex;
  width: 40%;
}

#newsletter .form input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  width: 5rem;
  border: none;
  font-weight: 700;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#newsletter button:hover {
  background-color: #065c66;
}

/* --- footer --- */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}

footer .install img {
  margin: 10px 0 15px 0;
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #065c66;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

#scrollToTopBtn:hover {
  background-color: #088178;
}
/* --- media queries --- */
@media (max-width: 1024px) {
  #cart-section {
    width: 33%;
  }
}
@media (max-width: 799px) {
  #cart-section {
    width: 40%;
  }
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  .icon {
    font-size: 25px;
  }
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #newsletter .form {
    width: 70%;
  }
  #form-details {
    padding: 40px;
  }
  #form-details form {
    width: 50%;
  }
  #cart-counter {
    right: 40%;
  }
}

@media (max-width: 477px) {
  #cart-section {
    width: 92%;
  }
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 32px;
  }
  #hero {
    padding: 0 20px;
    background-position: 60%;
  }
}
